<ul id="<%= id %>" class="list-inline">
  <% values.each do |value| %>
    <li class="list-inline-item">
        <span class="badge badge-primary" style="line-height: 160%;"><%= value %></span>
    </li>
  <% end %>
</ul>