<% @title="FAQ" %>

<h2 id="filters">Filter options</h2>
<ul>
  <li>Sfw: Safe For Work - - <b>safe to show to anyone at any time</b> (think whether you'd want your mother/boss see it)</li>
  <li>Nsfw: Not Safe For Work - - <b>safe to show to all registered users at any time</b> (does not include disturbing content)</li>
  <li>Nsfl: Not Safe For Life - - anything goes, possibly disturbing content <b>(does not include illegal content)</b></li>
</ul>