// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.enhance-link {
  right: 0
}

textarea.new-message {
  height: 2em;
  width: 60%;
  border-width: 1px;
}

textarea:focus.new-message {
  height: 10em;
}

textarea.comment-message {
  height: 10em;
  width: 60%;
  border-width: 1px;
}

.comment-reply {
  display: none;
}